*{
    font-family: sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.titulo{
    display: block;
    text-align: center;
    font-size: 50px;
}

.titulo2{
    display: block;
    text-align: center;
    font-size: 43px;
    margin: 100px;
}

.titulo3{
    display: block;
    text-align: center;
    font-size: 43px;
    margin: 30px;
}

.subtitulo{
    display: block;
    text-align: center;
    font-size: 17px;
}

.txtInf{
    font-size: 16px;
}

.imagen{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(0.6)  /* 60% de brillo */
}

.imagenFondo{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);  /* 60% de brillo */
    height: 493px; 
    padding-bottom: 60px;
}

hr{
    position: relative;
    width: 50%;
    height: 2px;
    color: black;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------------------- TEXTO CENTRADO DENTRO DE LAS IMAGENES ---------------------------------*/


.contenedorProm{
    position: relative;
}

.contenedorProm p{
    text-align: justify;
}

.centradoProm{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    white-space: nowrap;
}

.contenedor{
    position: relative;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: white;
}

.botonServicio{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #f47d1f;
    padding: 18px;
    font-weight: bold;
}

/*----------------------------------------------------------FOOTER--------------------------------------------------------------------*/

.pie{
    padding: 5%;
}

/*---------------------------------------------------------FORMULARIO-------------------------------------------------------------------*/
.form1 {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.radio-group label {
    font-weight: normal;
}
.radio-group input {
    margin-right: 10px;
}

.botonForm {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botonForm:hover {
    background-color: #e65c00;
}







/*--------------------------------------------------- PROPIEDADES DEL CAROUSEL -------------------------------------------------------*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem; /*-------- CENTRAR EL TEXTO DEL CAROUSEL --------*/
    z-index: 10;
}

  /* Declare heights because of positioning of img element */
.carousel-item {
    height: 25rem; /* SE CAMBIA EL TAMAÑO DEL CAROUSEL*/
}


/* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
.marketing {

}
  /* rtl:begin:ignore */
.marketing .col p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing .col h2 {
    text-align: center;
}

  /* rtl:end:ignore */


/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

  /* Thin out the marketing headings */
  /* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

  /* rtl:end:remove */

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        line-height: 1.4;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (min-width: 1000px) {
    .container{
        max-width: 1470px;
    }
}

@media (min-width: 100%) {
    .containerFeaturette{
        max-width: 100%;
    }
}

@media (min-width: 100%) {
    .container2{
        max-width: 100%;
    }
}


